alembic==0.9.3
appnope==0.1.0
astroid==1.5.3
bcolz==0.12.1
beautifulsoup4==4.6.0
bleach==2.0.0
Bottleneck==1.2.1
certifi==2017.4.17
chardet==3.0.4
click==6.7
contextlib2==0.5.5
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.26
decorator==4.1.2
empyrical==0.3.0
entrypoints==0.2.3
fix-yahoo-finance==0.0.18
html5lib==0.999999999
idna==2.5
intervaltree==2.1.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.2.15
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
lazy-object-proxy==1.3.1
lml==0.0.1
Logbook==1.1.0
lru-dict==1.1.6
lxml==4.0.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.0.2
mccabe==0.6.1
mistune==0.7.4
multipledispatch==0.4.9
multitasking==0.0.4
nbconvert==5.2.1
nbformat==4.3.0
networkx==1.11
notebook==5.0.0
numexpr==2.6.2
numpy==1.13.0
pandas==0.18.1
pandas-datareader==0.4.0
pandocfilters==1.4.1
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.2
pyexcel==0.5.2
pyexcel-io==0.4.2
Pygments==2.2.0
pylint==1.7.2
pyparsing==2.2.0
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.3.0
requests==2.18.1
requests-file==1.4.2
requests-ftp==0.3.1
scipy==0.19.1
simplegeneric==0.8.1
six==1.10.0
sortedcontainers==1.5.7
SQLAlchemy==1.1.12
statsmodels==0.8.0
tables==3.4.2
terminado==0.6
testpath==0.3.1
texttable==0.9.1
toolz==0.8.2
tornado==4.5.1
traitlets==4.3.2
urllib3==1.21.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==2.0.0
wrapt==1.10.10
zipline==1.1.1
